body { 
	font: georgia, sans-serif;
	background: #EBF5FF; 
	margin: 25px; 
	padding: 0;
	}
#cursive {
	font-family: cursive;
}
#section_1 {
	font-family: serif;
	color: #303030;
	text-align: justify;
}
.section {
	color: #303030;
	font-weight: bold;
	font-size: 15px
	font-family: monospace;
p { 
	color: #303030;
	margin-top: auto; 
	text-align: justify;
	}

