body { 
	font: georgia, sans-serif;
	background: #EBF5FF; 
	margin: 25px; 
	padding: 0;
	}
#cursive {
	font-family: cursive;
}
#section_1 {
	font-family: serif;
	color: #303030;
	text-align: justify;
}
.section {
	color: #303030;
	font-weight: bold;
	font-size: 15px;
	font-family: monospace;
}
p { 
	color: #303030;
	margin-top: auto; 
	text-align: justify;
	}
span {
    color:#388E8E;
    font-size: 20px;
}

#name {
    font-size: 20px;
}
a:link { 
	font-weight: bold; 
    text-decoration: none; 
	color: #494259;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
img {
    float: right;
}
h6 {
    font-size: 15px;
}

#header {
	z-index: 1;
	position: relative;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #668284;
	margin-bottom: 10px;
}


h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}



li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#sidebar {
	margin-right: 600px; 
	position: relative; 
    background-color: #363142;
    height: 400px;
    width: 20%;
	}