body { 
	font: georgia, sans-serif;
	background: #fff; 
	margin:50px 0px; 
	padding:0px;
	display: inline;
}

a {
	font-weight: bold; 
    text-decoration: none; 
	color: #B92043;
    text-shadow: #BDB8B8 0.1em 0.1em 0.2em
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #2090b9;
}

a:hover { 
	color: #2090b9;
	text-decoration: underline; 
}


#main {
	float:left;
	width: 70%;
	clear: both;
	text-align: justify;
	border-right: thin solid lightgrey;
	border-left: thin solid lightgrey;
	margin-left: 40px;
	padding: 4%;
	padding-top: 0px;
}

#nav {
	float: right;
	text-align: right;
	padding-right: 2%;
	padding-left: 2%;
}

h2, h4 {
	font-weight: bold;
    color: #B92043;
    text-shadow: #BDB8B8 0.1em 0.1em 0.2em;
    font-family: 'Lato', Garamond;
    padding-left: 2%;
    width: 70%;
    margin-left: 40px;
}

h2 {
	border-left: 20px solid;
}

h4 {
	margin-left: 60px;
}

p {
	margin-top: 0px;
}
