/* General Styles */

body {
  background-color: gray;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 25px;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  padding: 1%;
}

header h1{
  padding: 2%;
  font-family: 'Lato';
  font-size: 450%;
}

a {

  font-weight: strong;
  color: #D685BA;
  font-size: 150%;
  text-shadow: black 0.1em 0.1em 0.2em
}

header a:visited {
  color: #CC90E4;
}

header a:hover {
  color: #fff;
  text-decoration: none;
}

header {
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding: 10% 5%;
  margin: 0;
  background-color: #7DB5D4;
}

p {
  text-shadow: none;
  padding: 3%;
  font-weight: strong;
  font-family: Garamond;
  text-align: justify;
  color: #7E0774;
  font-size: 60%;
  margin: 0;

}

#wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #545454;
  font-size: 150%;
  text-align: center;

}

h2 {
  font-size: 130%;
  padding: 3%;
}

.facts {
  background-color: #E8E8E8;
  text-align: center;
}

h3 {
  font-size: 115%;
  padding: 1%;
  color: rgb(94, 83, 83);
  font-weight: strong;
  text-shadow: none;
}

h4{
  padding-bottom: 2%;
  color: rgb(57, 147, 160);
  text-shadow: none;
  font-size: 80%;
}

img {
  width: 30%;
}

#city {
  background-color: #7DB5D4;

}

#more{
  background-color: #545454;
}

#blogs{
  background-color: #D0ECC6;
}

#footer, #footer p{
  color: #fff;
  font-size: 120%;
  font-weight: strong;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  background-color: #999EA0;
  padding: 3%;
}
/* Fonts */
@font-face {
  font-family: 'EntypoRegular';
  src: url('font/Entypo-webfont.eot');
  src: url('font/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/Entypo-webfont.woff') format('woff'),
       url('font/Entypo-webfont.ttf') format('truetype'),
       url('font/Entypo-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}