body { 
	font: georgia, sans-serif;
	background: #fff; 
	margin:50px 0px; 
	padding:0px;
	display: inline;
}

a {
	font-weight: bold; 
    text-decoration: none; 
	color: #B92043;
    text-shadow: gray 0.1em 0.1em 0.2em
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
}

a:hover { 
	text-decoration: underline; 
}

div {
	margin: 0px, auto;
    text-align: left;
    padding: 2%;

}

#main {
	float:left;
	width: 70%;
	clear: both;
	text-align: justify;
	border-right: thin solid black;
}

#nav {
	float: right;
/*	border-left: thin solid black;*/
	text-align: right;
	padding-right: 2%;
	padding-left: 2%;
	clear: both;
}

ol li {
    font-size: 15px;
}

h2, h4 {
	font-weight: bold;
    color: #B92043;
    font-family: 'Lato', Garamond;
    padding-left: 2%
}

