body { 
	font: georgia, sans-serif;
	background: #fff; 
	margin:50px 0px; 
	padding:0px;
}

a {
	font-weight: bold; 
    text-decoration: none; 
	color: #eee;
    text-shadow: black 0.1em 0.1em 0.2em
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
}

a:hover { 
	text-decoration: underline; 
}

h4, div {
	margin: 0px, auto;
    text-align: left;
    padding: 2%;

}

#main {
	float:left;
	width: 70%;
	clear: both;
}

/*#nav {
	float:right;
	width: 30%;
	clear: both;
}*/

ol li {
    font-size: 15px;
}

h2, h4 {
    color: #B92043;
}