/* General Styles */
body {
  background-color: rgb(241, 241, 241);
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0px auto;
  min-width: 960px;
  width: 100%;
}

p {
  margin: 1em;
  font-family: Palatino;
}

a {
  color: #1D766F;
  text-decoration: none;
}
a:hover {
  color: #BC2F36;
  text-decoration: underline;
}

h1 {
  font-family: 'Lato', cursive;
  font-size: 3em;
  float: left;
  line-height: 75px;
}

h2 {
  background-color: rgb(60, 60, 60);
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4em;
  font-weight: 400;
  line-height: 80px;
  margin: 0 0 0.5em 0;
  text-align: center;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 0.3em 0;
  text-align: center;
}

h4 {
  color: rgb(120, 120, 120);
  font-size: 1em;
  text-align: center;
}


/* Navigation */
nav li {
  float: left;
}
nav li a {
  color: #fff;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none;
}
nav li a:hover {
  color: #FB000D;
}

/* Header */
header {
  background-color: #255F6F;
  padding: 10px;
}
header h1 {
  color: #FFEECC;
  background: no-repeat 0 50%;
  padding-left: 40px;
}
header nav {
  float: right;
  font-size: 1.2em;
  margin-left: 20px;
}
header nav li {
  line-height: 75px;
}
header nav a:hover {
  background-color: #fff;
}

header:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}


/* Main */

ul li {
    list-style-type: square;
}
#main section {
  margin-bottom: 1em;
  position: relative;
}
#main div.wrapper{
    width: 100%;
    max-width:1400px;
    margin: 0 auto;
}


#main section:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}


/* Famous Women */
#fun article.facts {
  background-color: white;
  float: left;
  min-height: 250px;
  margin: 1%;
  padding: 2%;
  width: 27.33%;
}

#fun article.break {
  clear: both;
}

#fun article img {
  display: block;
  margin: 1em auto;
  width: 100%;
}


/* City facts */
#city {
  clear: both;
  height: 500px;
}

#city ul {
  margin: 30px;
  position: relative;
}
#city ul li {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1em;
  padding-left: 5px;
  max-width: 50%;
}


#city li:hover img {
  display: block;
}


/* More Stuff */
#more ul {
  margin: 50px;
}
#more ul li {
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 1em;
  padding-left: 5px;
  list-style: none;
}
#more ul li:before {
  color: #FFA700;
  font-family: 'EntypoRegular';
  font-size: 30px;
  padding-right: 10px;
}
#more ul li:hover:before {
  color: #FF6F00;
}


/* Footer */
footer {
  background-color: #255F6F;
}

footer .nav {
  float: left;
  font-size: 1.3em;
  margin: 10px;
}

footer nav a:hover {
  color: #FFEECC;
}
footer p{
    color: #e5e5e5;
    font-size: 1.2em;
    padding: 1.5%;
    text-align: center;
}

footer a{
    color:#000;
    font-family: Garamond;
}

footer:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}


/* Fonts */
@font-face {
  font-family: 'EntypoRegular';
  src: url('font/Entypo-webfont.eot');
  src: url('font/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/Entypo-webfont.woff') format('woff'),
       url('font/Entypo-webfont.ttf') format('truetype'),
       url('font/Entypo-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}